<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script type="text/javascript" src="/js/helpers.js"></script>

  <title>Create new note</title>
</head>
<body>
    <div align="center">
        <h1 class="display-4">Create New Note</h1>
        <br />
        <form name="noteForm" action="#" th:action="@{/save}" th:object="${note}"
            method="post" onsubmit="return validateForm()">

            <div class="form-group w-50">
                <label for="noteID">Note ID</label>
                <textarea class="form-control" id="noteID" rows="1" th:field="*{id}"></textarea>
                <small id="id help" class="form-text text-muted">Enter the note id</small>
            </div>

            <div class="form-group w-50">
                <label for="noteName">Note Name</label>
                <textarea id="noteName" class="form-control" rows="1" th:field="*{name}"></textarea>
                <small id="name help" class="form-text text-muted">Enter the note name</small>
            </div>

            <div class="form-group w-50">
                <label for="noteText">Note Text</label>
                <textarea id="noteText" class="form-control" rows="1" th:field="*{text}"></textarea>
                <small id="text help" class="form-text text-muted">Enter the note text</small>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-primary" href="./" role="button">Cancel</a>

        </form>
    </div>
</body>
</html>